/* 裝置螢幕寬度在 768px 以下 */

.logo {
  font-size: 1.375em;
}

.disable-in-mweb {
  display: none;
}

/* Menu Bar is below this comment */

body > nav {
  display: none;
  height: calc(100% - 70px);
  position: fixed;
  z-index: 3;
  width: 100%;
  top: 0;
  margin-top: 70px;
  overflow-y: auto;
  background: #3b99f0;
  color: #ffffff;
  font-size: 1.5em;
}

.menu-bar-item a {
  display: block;
  padding: 20px 30px;
}

.menu-bar-inner-layer a {
  padding-left: 50px;
  background: #1e6098;
}

/* Content is below this comment */

.content {
  padding: 70px 0 0;
}

.search-box-background {
  height: calc(100% - 70px);
}

.slider-bar-image-clip-box {
  width: 100%;
  max-width: 100%;
}

.slider-bar-title {
  padding: 10px;
  font-size: 1.3em;
  line-height: 1.5em;
}

.news-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.article-section:nth-of-type(1),
.article-section:nth-of-type(3) {
  padding: 0 10px;
}

.channel-section-wrapper {
  padding: 0 10px;
}

.article-info-and-share > div:first-child {
  margin-bottom: 10px;
}

.article-content {
  margin: 40px 0 0;
}

.footer-section-main {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-section-legal-declaration {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 50px 0;
  margin-top: 70px;
  border-top: 1px solid #cccccc;
}

/* signup.html is below this comment */

.signup-section {
  margin: 30px 10px;
}

/* Popup Dialog Login is below this comment */

.dialog-box-background {
  height: calc(100% - 70px);
}

.dialog-box {
  margin: 10px;
}

/* channel.html is below this comment */

.channel-section:nth-of-type(2) {
  display: none;
}

.channel-box {
  padding: 0 10px;
}

.channel-photo {
  min-width: 90px;
  height: 90px;
}

.channel-photo > img {
  max-height: 100%;
  margin-left: -25%;
}

.channel-description > a:nth-child(2) {
  display: none;
}
