.article-section-wrapper {
  @include mq-medium-up {
    display: flex;
    flex-flow: row wrap;
  }
}


.article-section:nth-of-type(1) {
  margin-top: 40px;
  text-align: justify;

  @include mq-medium-up {
    width: 70%;
    order: 1;
  }
}

.article-section:nth-of-type(1) > h1 {
  font-size: 2.2em;
  font-weight: bold;
  line-height: 1.2em;
  padding-bottom: 40px;
  border-bottom: 1px solid $horizontal-line-color;
}

.article-info-and-share {
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;
}

.article-info-and-share > div:first-child {
  @include mq-medium {
    margin-bottom: 10px;
  }
}

.article-content {
  @include mq-medium {
    margin: 40px 0 0;
  }

  @include mq-medium-up {
    margin: 40px 7% 0;
  }
}

.article-content > p {
  font-size: 1.4em;
  line-height: 1.25em;
  letter-spacing: .2em;
}

.article-content > h3 {
  margin: 30px 0;
  font-size: 1.4em;
  font-weight: bold;
}

.article-section:nth-of-type(2) {
  margin: 100px 0;

  @include mq-medium-up {
    order: 3;
  }
}

.article-section:nth-of-type(2) > h1 {
  text-align: center;
  margin: 0 15px;
  padding: 50px 0;
  border-top: 1px solid $horizontal-line-color;
  font-weight: bold;
  font-size: 24px;
}

.article-section:nth-of-type(1),
.article-section:nth-of-type(3) {
  @include mq-medium {
    padding: 0 10px;
  }
}

.article-section:nth-of-type(3) {
  @include mq-medium-up {
    width: calc(30% - 80px);
    margin-top: 40px;
    margin-left: 80px;
    order: 2;
  }
}
