.channel-section-wrapper {
  @include mq-medium {
    padding: 0 10px;
  }

  @include mq-medium-up {
    display: flex;
    flex-flow: row wrap;
  }
}

.channel-section:nth-of-type(1) {
  @include mq-medium-up {
    width: 70%;
  }
}

.channel-section:nth-of-type(2) {
  @include mq-medium {
    display: none;
  }

  @include mq-medium-up {
    width: calc(30% - 80px);
    margin-left: 80px;
  }
}

.channel-section:nth-of-type(3) {
  width: 100%;
  margin: 50px 0;
}

.channel-title {
  text-align: center;
  font-size: 2.2em;
  font-weight: bold;
  margin-top: 40px;
  border-bottom: 1px solid $horizontal-line-color;
  padding-bottom: 40px;

  @include mq-medium-up {
    margin: 40px 0 20px;
  }
}

.channel-list {
  margin-bottom: 50px;
  font-size: .9em;
  line-height: 1.25em;
  letter-spacing: .1em;

  @include mq-medium-up {
    margin-bottom: 50px;
    font-size: 1.4em;
  }
}

.channel-list > li:nth-child(1) {
  @include mq-medium-up {
    flex-flow: column nowrap;
    padding: 0 0 15px;
  }
}

.channel-list > li:nth-child(1) > .channel-photo {
  @include mq-medium-up {
    height: inherit;
    max-width: inherit;
    margin-right: 0;
  }
}

.channel-list > li:nth-child(1) > .channel-photo img {
  @include mq-medium-up {
    margin-left: 0;
  }
}

.channel-list > li:nth-child(1) > .channel-description > a:nth-child(2) {
  @include mq-medium-up {
    display: none;
  }
}

.channel-list > li:nth-child(1) > .channel-description * {
  @include mq-medium-up {
    margin: 15px 0;
  }
}

.channel-item {
  display: flex;
  flex-flow: row nowrap;
  border-bottom: 1px solid $official-red;
  padding: 15px 0;
}

.channel-box {
  @include mq-medium {
    padding: 0 10px;
  }
}

.channel-photo {
  overflow: hidden;
  margin-right: 10px;

  @include mq-medium {
    min-width: 90px;
    height: 90px;
  }

  @include mq-medium-up {
    min-width: 300px;
    max-width: 300px;
    height: 300px;
  }
}

.channel-photo > img {
  @include mq-medium {
    max-height: 100%;
    margin-left: -25%;
  }

  @include mq-medium-up {
    max-height: 100%;
    margin-left: -25%;
  }
}

.channel-description {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.channel-description > a:nth-child(1) {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  line-height: 1.25em;
  max-height: 2.5em;
  overflow: hidden;
}

.channel-description > a:nth-child(2) {
  line-height: inherit;
  max-height: 2.5em;
  overflow: hidden;

  @include mq-medium {
    display: none;
  }

  @include mq-medium-up {
    display: block;
    line-height: 1.6em;
    max-height: 6.4em;
    overflow: hidden;
  }
}

.author {
  color: $official-red;
}
