/* This setting is very important You must be learning ! */

* {
  box-sizing: border-box;
}

body {
  font-family: 'Hiragino Sans GB' ,华文细黑, STHeiti, 微软雅黑, 'Microsoft YaHei', SimHei, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #484848;
  -webkit-font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: none;
}
